<!-- About Section -->
    <section id="aboutme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
        </div>
        
        <div class="about-me">
            <!-- <div class="about-me-image">
                <img class="img-responsive" src="img/geisel-side-profile-thumbnail.jpg">
            </div> -->
            <img class="about-me-image img-responsive" src="img/geisel-side-profile-square.png">
            <div class="about-me-text">
                <h1 class="about-me-header">I'm Dev Gulati.</h1>
                <p class="about-me-description">I'm a recent graduate with a B.S. degree in Mechanical
                    engineering with a specialization in Controls and Robotics from UC San Diego. I'm passionate about
                    robotics, cars, and energy. In my free time, I enjoy playing tennis and traveling. I love programming and engineering design, and am looking for opportunities!
                </p>
            </div>
            
            
        </div>
            
    </section>